<%= form_flash_messages %>
<div class="light">
  <div class="main">
    <div class="content">
      <div class="col_1"> 
        <%= render :partial => "shared/advocates/overview" %>
        <%= render :partial => "shared/advocates/grade" %>

        <%= render :partial => "client/account/advocates/tabs" %>

        <%= render :partial => "shared/reviews/show" %>
      </div>
      <div class="col_2">
        <%= render :partial => "shared/reviews/sidebar_grades" %> 
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
<%= render :partial => 'shared/default_fields_js' %>
