<% # advofinder/advocates/overview <- used in index advofinder
  profile ||= overview || @advocate
  title = []
  title << h(profile.title_and_name)
  title << h(profile.anglo_title_type) unless profile.anglo_title_type.blank?
  title = title.join(", ")
%>
 <div class="clearer_5"></div>
<h2><%= link_to(title, advofinder_advocate_profile_path(profile)) %></h2>
<div class="left"> 
  <%= profile_image_tag profile %>
</div>
<div class="left pad_l_10 w250">
  <div><%= adovocate_professions_in_words(profile) %> </div>
   <div class="clearer_5"></div> 
  <% if profile.has_expertise? %>
    <div>Auch Fachanwalt für:</div>
    <%= adovocate_expertises_in_words(profile, true) %>
    <div class="clearer_5"></div>
  <% end %>
  <% if profile.has_topics? %>
    <div>Rechtsgebiete:</div>
    <%= adovocate_topics_in_words(profile, true) %>
  <% end %>
</div>
<div class="right pad_l_10 w250">
  <div><b><%= h(profile.company_name.blank? ? profile.title_and_name : profile.company_name) %></b></div>
  <%= address_in_overview(profile.business_address) %>
  <%= h("#{profile.business_address.country}") %>
  <div class="clearer_5"></div> 
  <em>Telefon</em>  <%= h(profile.phone_number) %>
  <div class="clearer"></div>
  <em>Telefax</em> <%= h(profile.fax_number) %>
  <div class="clearer"></div>
  <em>Mobil/Notfall</em> <%= h(profile.rescue_phone_number) %>
  <div class="clearer_10"></div>
  <div class="button_white_right_blue">
    <%= link_to "&#160;&#160;&#160;&#160;Profil anzeigen&#160;&#160;&#160;", profile_advofinder_advocate_profile_path(profile),
      {:title => "Profil zeigen"} %>
  </div>
  <div class="button_white_left_blue"></div>
</div>
  <!-- 
  <div class="clearer_5"></div>
  
    <% unless profile.facebook_name.blank? %>
       <% link_to( "http://facebook.com/#{profile.facebook_name}",:target=>"_blank")  do %> 
       <img src="/images/icons/facebook.png" width="24" height="24" alt="Facebook"/>
       <% end %>
     <% end %>

     <% unless profile.linkedin_name.blank? %>
       <% link_to( "http://linkedin.com/pub/dir/#{profile.linkedin_name}",:target=>"_blank") do %> 
           <img src="/images/icons/linkedin.png" width="24" height="24" alt="Linkedin"/>
        <% end %> 
     <% end %>

     <% unless profile.skype_name.blank? %>
     <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
     <a href="skype:<%= h(profile.skype_name) %>?add"><img src="/images/icons/skype.png" width="24" height="24" alt="Skype"/></a>

     <% end %>

     <% unless profile.twitter_name.blank? %>
       <% link_to( "http://twitter.com/#{profile.twitter_name}",:target=>"_blank") do %>
          <img src="/images/icons/twitter.png" width="24" height="24" alt="Twitter"/>
        <% end %> 
     <% end %>

     <% unless profile.xing_name.blank? %>
       <% link_to("http://xing.de/#{profile.xing_name}",:target=>"_blank") do %>
          <img src="/images/icons/xing.png" width="24" height="24" alt="Xing"/>
        <% end %> 
     <% end %>    -->
