<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
   <h2>Benutzerhinweise</h2>
   <b>Browser - Kompatibilität und Bildschirmauflösung</b> 
<p>
Die Webseiten von kann-ich-klagen.de können Sie mit allen Standardbrowsern (Firefox, Internet Explorer, Safari, Opera und Chrome ) betrachten. Für eine optimale Darstellung empfehlen wir eine Bildschirmauflösung von 1072x768 Pixel. Java-Script wird benötigt. Bei älteren Browser-Versionen kann es zu grafischen Abweichungen in der Darstellung kommen. 
</p>
<p>
    
  <i>  Die aktuellen Versionen der Standardbrowser können Sie sich auf den offiziellen Seiten der Browserhersteller kostenlos herunterladen: </i><br /> 
   <a href="http://www.mozilla-europe.org/de/firefox/" target="_blank"> Firefox </a> <br />
   <a href="http://www.microsoft.com/germany/windows/internet-explorer/default.aspx" target="_blank"> Internet Explorer </a> <br />
   <a href="http://www.apple.com/de/safari/ " target="_blank"> Safari </a><br />
   <a href="http://www.opera.com/ " target="_blank"> Opera </a> <br />
   <a href="http://www.google.de/chrome" target="_blank"> Chrome </a>  
 </p>
 
 <p>    
    
  <b> Ändern der Schriftgröße </b> Sie haben die Möglichkeit die Schriftgröße individuell nach Ihren Sehgewohnheiten im jeweiligen Browser zu konfigurieren, wie nachfolgend beschrieben, oder folgende Tastaturbefehle zu nutzen:   <br /> 
    Vergrößern:			Drücken Sie gleichzeitig die Tasten<b> strg </b> und <b>+</b>   <br />
    Verkleinern: 			Drücken Sie gleichzeitig die Tasten <b>strg </b> und <b> - </b><br /> 
    Standard wiederherstellen:	 Drücken Sie gleichzeitig die Tasten <b>strg </b> und <b> 0 </b> <br />
   <i> Firefox:</i>
    Klicken Sie unter dem Menüpunkt "Ansicht", auf den Menüpunkt "Zoom" und dort auf die Menüpunkte „Vergrößern“ oder „Verkleinern“.<br />  
  <i> Internetexplorer:</i> 
    Klicken Sie unter dem Menüpunkt "Seite", auf den Menüpunkt "Zoom" und dort auf die Menüpunkte „Vergrößern“ oder „Verkleinern“.  <br />
   <i> Safari:</i> 
    Klicken Sie unter dem Menüpunkt "Ansicht“ auf die Menüpunkte „Vergrößern“ oder „Verkleinern“.   <br />
   <i> Opera:</i> 
    Klicken Sie unter dem Menüpunkt "Ansicht" auf den Menüpunkt "Zoomfaktor" und wählen Sie den gewünschten Zoomfaktor. <br />
   <i> Chrome:  </i> 
    Klicken Sie oben rechts unter dem Menüpunkt „Aktuelle Seite bearbeiten“ auf "Zoom" und dort auf die Menüpunkte „Größer“ oder „Kleiner“.  
</p>    
<p>    
   <b> Barrierefreiheit</b>
    Wir freuen uns jederzeit über Anregungen und Ideen dazu, wie wir die Barrierefreiheit der Webseiten von kann-ich-klagen.de verbessern können.
    Bitte nutzen Sie dazu die Seite <%= link_to_feedback "Feedback",
        {:class  => "", :title => "Schreiben Sie uns Ihre Meinung, Anregungen oder Ideen"}
    %>
</p>    
    
   <p> <b> PDF-Dateien   </b>
    Zum Ansehen von PDF-Dateien benötigen Sie eine aktuelle Version des Adobe Readers. Er erlaubt das Öffnen, Ansehen, Speichern und Drucken von PDF-Dateien. Der Adobe Reader ist ein kostenloses Programm dessen aktuelle Version Sie sich auf der offiziellen Seite des Hersteller herunterladen können:
   <a href="http://get.adobe.com/de/reader/" target="_blank"> Download der aktuellen Version von Adobe Reader</a>.
    Wenn der Adobe Reader installiert ist, können Sie sich PDF-Dateien direkt im Browser ansehen, indem Sie einfach auf die entsprechende PDF-Datei klicken.
    Wenn Ihr Browser den Adobe Reader nicht unterstützt oder wenn Sie die Datei direkt auf Ihrer Festplatte speichern wollen, klicken Sie mit der rechten Maustaste auf die Datei (bei Windows) bzw. halten Sie die Taste lange gedrückt (bei Apple) und wählen Sie aus dem Menü "Ziel/Verknüpfung speichern unter ...". Wählen Sie sodann den Speicherort auf Ihrem Computer.  </p>
  
   <p>  <b> Audio- und Video-Dateien </b> 
    
    Audio- und Video-Dateien werden möglichst in den Formaten MP3 und MPEG angeboten. Sie können Audio- und Video-Dateien beispielsweise mit folgenden Programmen öffnen, welche Sie auf den offiziellen Seiten der Hersteller kostenlos herunterladen können: <br /> 
    <a href="http://www.apple.com/de/quicktime/download/" target="_blank">QuickTime </a> <br /> 
    <a href="http://germany.real.com/realplayer/" target="_blank">RealPlayer</a><br /> 
    <a href="http://www.videolan.org/vlc/" target="_blank">VLC media player </a> <br /> 
   <a href="http://http://www.microsoft.com/windows/windowsmedia/DE/player/11/default.aspx" target="_blank">Windows Media Player </a> <br /> 
    Probleme bei der Wiedergabe von Audio- und Video-Dateien können verschiedene Ursachen haben. Bitte prüfen Sie insbesondere, ob Sie über die aktuellste Version der benötigten Programme verfügen, ob die Einstellungen Ihres Computers richtig sind und Ihre Internetverbindung schnell genug ist.                                                                                 </p>
    
  <p>  <b>  RSS-Feed auf kann-ich-klagen.de</b> 
    
    Die Abkürzung RSS steht für "Real Simple Syndication", was in etwa "wirklich einfache Verbreitung" bedeutet. RSS ist ein plattformunabhängiges XML-basiertes Format und wurde entwickelt, um Nachrichten und andere digitale Inhalte unkompliziert auszutauschen. RSS-Feeds (RSS-Nachrichten) helfen Ihnen, sich schnell über Neuigkeiten kann-ich-klagen.de zu informieren. Dafür müssen Sie die Webseiten von kann-ich-klagen.de nicht einmal besuchen.
    Um RSS nutzen zu können, benötigen Sie ein entsprechendes Feedreader-Programm. Teilweise sind solche Programme bereits in einem Browser oder in einem E-Mail-Programm integriert, teilweise werden aber auch externe Programme zum Lesen und Verwalten von Feeds verwendet. Ein Feedreader-Programm funktioniert wie eine Sammelstelle, in der alle von Ihnen ausgewählten RSS-Feeds zusammenlaufen. Das Programm benachrichtigt Sie dann, sobald Neuigkeiten oder Aktualisierungen vorliegen und liefert Ihnen die Überschrift und einen Kurztext. Bei Interesse gelangen Sie mit einem Klick auf unsere Webseiten und können dort den vollständigen Text lesen.
    Abonnieren können Sie den RSS-Feed von kann-ich-klagen.de entweder hier oder überall dort, wo Sie das RSS-Symbol auf unseren Webseiten sehen. 
    <%= link_to " RSS-Feed von kann-ich-klagen.de", formatted_feed_service_blogs_url(:rss), {:title => "RSS-Feed von kann-ich-klagen.de abonnieren", :target => "_blank",} %>       
  <br />
    
    Genau wie Webseiten verfügen RSS-Feeds über eine eigene Adresse. Diese Adresse müssen Sie Ihrem Feedreader-Programm mitteilen, indem Sie sie kopieren und in das Feedreader-Programm einfügen. Das Vorgehen kann von Programm zu Programm verschieden sein. Meist können Sie über die Menüleiste den Menüpunkt "RSS-Nachricht einbinden" auswählen. Ab diesem Moment werden Sie laufend über Neuigkeiten auf unserer Seite informiert.
    Viele neue Browser verfügen bereits über integrierte Programme um RSS-Feeds zu lesen. Damit fällt dann die Verwendung eines externen Feedreader-Programms weg. Die Auswahl des Feeds geht dann automatisch.
    Wir bieten Ihnen auf kann-ich-klagen.de RSS-Newsfeeds in der Version RSS 2.0 an.             </p>
  <p>  <b> 
    Drucken von Webseiten und Dateien </b>
        Alle für den Druck relevanten Webseiten von kann-ich-klagen.de verfügen über einen Link zu der jeweiligen Druckansicht. Diese ermöglicht Ihnen das Ausdrucken der gewünschten Webseite. Klicken Sie auf „Druckansicht“ am Ende der jeweiligen Webseite und verwenden Sie anschließend in Ihrem Browser die Funktion "Drucken", sofern sich die Druckfunktion nicht schon von alleine geöffnet hat. Schließen können Sie die Druckansicht indem Sie auf „Druckansicht schließen“ klicken.                                                            </p>
    
  <p>  <b>  Veröffentlichte Informationen</b>
    Die auf den Webseiten von kann-ich-klagen.de veröffentlichten Informationen sind sorgfältig zusammengestellt, erheben aber keinen Anspruch auf Aktualität, sachliche Korrektheit oder Vollständigkeit; eine entsprechende Gewähr wird nicht übernommen. Insbesondere stellen sie auch keine Rechtsberatung dar.    </p>
    
 
  <p>  <b> Datenschutz </b>
    Siehe bitte die Seite <%= link_to "Datenschutz", privacy_corporate_path, {:title => "Datenschutzerklärung von kann-ich-klagen.de"} %></p>
   
   <p> <b>  Einsatz von Cookies</b>
    Siehe bitte die Seite <%= link_to "Datenschutz", privacy_corporate_path, {:title => "Datenschutzerklärung von kann-ich-klagen.de"} %></p>
    
   <p> <b>  Haftungsausschluss</b>
    Siehe bitte die Seite <%= link_to "Nutzungsbedingungen", terms_corporate_path, {:title => "Nutzungsbedingungen von kann-ich-klagen.de"} %></p>
    
  <p>  <b>  Urheberrecht </b>
    Siehe bitte die Seite <%= link_to "Nutzungsbedingungen", terms_corporate_path, {:title => "Nutzungsbedingungen von kann-ich-klagen.de"} %></p>


  </div>

  <div class="bottom_footer"></div>
</div>