<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">
        <h2>Januar 2009</h2>
        <div class="two_big_top clearer">
          <h2><a title="Zum ganzen Artikel" href=""><b>Lorem ipsum dolor sit amet consectetur adipiscing elit! </b></a></h2>
        </div>
        <div class="two_big_content">
          <div class="left">Verfasst am 12.01.2009 von <%= link_to "Florian Widmann" ,{:title => "Zum Profil"} %></div>
          <div class="right"><%= link_to "&#187; mehr" ,{:title => "Zum ganzen Artikel"} %></div>
          <div class="clearer"></div>
          <div class="pad_5"></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, metus vel ornare.
        </div>
        <div class="two_big_bottom"></div>

        <div class="two_big_top clearer">
            <h2><a title="Zum ganzen Artikel" href=""><b>Lorem ipsum dolor sit amet consectetur adipiscing elit! </b></a></h2>
        </div>
        <div class="two_big_content">
          <div class="left">Verfasst am 12.01.2009 von <%= link_to "Florian Widmann" ,{:title => "Zum Profil"} %></div>
          <div class="right"><%= link_to "&#187; mehr" ,{:title => "Zum ganzen Artikel"} %></div>
          <div class="clearer"></div>
          <div class="pad_5"></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, metus vel ornare.
        </div>
        <div class="two_big_bottom"></div>

        <div class="two_big_top clearer">
           <h2><a title="Zum ganzen Artikel" href=""><b>Lorem ipsum dolor sit amet consectetur adipiscing elit! </b></a></h2>
        </div>
        <div class="two_big_content">
          <div class="left">Verfasst am 12.01.2009 von <%= link_to "Florian Widmann" ,{:title => "Zum Profil"} %></div>
          <div class="right"><%= link_to "&#187; mehr" ,{:title => "Zum ganzen Artikel"} %></div>
          <div class="clearer"></div>
          <div class="pad_5"></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, metus vel ornare.
        </div>
        <div class="two_big_bottom"></div>

        <div class="two_big_top clearer">
          <h2><a title="Zum ganzen Artikel" href=""><b>Lorem ipsum dolor sit amet consectetur adipiscing elit! </b></a></h2>
        </div>
        <div class="two_big_content">
          <div class="left">Verfasst am 12.01.2009 von <%= link_to "Florian Widmann" ,{:title => "Zum Profil"} %></div>
          <div class="right"><%= link_to "&#187; mehr" ,{:title => "Zum ganzen Artikel"} %></div>
          <div class="clearer"></div>
          <div class="pad_5"></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, metus vel ornare.
        </div>
        <div class="two_big_bottom"></div>


        <div class="two_big_top clearer">
          <h2><b>Mietrecht in der Krise (dies ist die Ansicht für den ganzen Artikel)</b></h2>
        </div>
        <div class="two_big_content">
          <div>Verfasst am 12.01.2009 von <%= link_to "Florian Widmann" ,{:title => "Zum Profil"} %></div>
          <div class="clearer"></div>
          <div class="pad_5"></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.
          <div class="clearer"></div>
          <div class="pad_10"></div>
          <div class="left">
            <img title="" alt="" src="/images/lay.jpg" />
            <img title="" alt="" src="/images/lay.jpg" />
          </div>
          <div class="left">
            <a class="pdf" href="">Lorem ipsum dolor</a>
            <a class="word" href="">Proin mattis turpis et</a>
          </div>

          <div class="clearer"></div>
          <div class="pad_10"></div>

          <div class="left">
            <a  href="">&#171; Zurück zur Übersicht</a>
          </div>
          <div class="right">
            <a class="empfehlen" href="">Artikel empfehlen</a>
            <a class="drucken" href="">Druckansicht</a>
          </div>
          <div class="pad_10"></div>

        </div>
        <div class="two_big_bottom"></div>
      </div>

      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Stichworte</h2>
          <span class="">
            tags einbauen
          </span>
          <div class="clearer"></div>
          <div class="pad_20"></div>
          <h2>Rechtsthemen</h2>
          <ul>
            <li>
              <a class="white" title="" href="">Mietrecht</a>
            </li>
             <li>
              <a class="white" title="" href="">Strafrecht</a>
            </li>
             <li>
              <a class="white" title="" href="">kommen automatisch aus der Datenbank</a>
            </li>
           </ul>
          <div class="clearer"></div>
          <div class="pad_20"></div>
          <h2>Archiv</h2>
          <ul>
            <li>
              <p><b>2009</b></p>
              <p><a class="white" title="" href="">Januar</a></p>
              <p><a class="white" title="" href="">Dezember</a></p>

            </li>
            <li>
              <p><b>2008</b></p>
              <p><a class="white" title="" href="">Dezember</a></p>
              <p><a class="white" title="" href="">November</a></p>
            </li>
          </ul>
          <div class="clearer"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="bottom"></div>
</div>



