
<h2>Bitte ändern Sie Ihre Passwort!</h2>
<p>Zu Ihrer Sicherheit ändern Sie bitte jetzt das Ihnen per E-Mail übersandte Passwort. Sie können später jederzeit Ihr Passwort erneut ändern indem Sie in der Navigation auf Mein Bereich und dort auf Meine Daten klicken.</p> 

<%= error_messages_for :user %>
<% form_for :user, @user, :url => update_change_password_users_path, :html => {:method => :put} do |f| %>
<div class="left" style="padding-bottom:10px">
  <div><b>Altes Passwort*</b></div>
  <div class="pad_5">
    <%= f.password_field :current_password, :class => "field w303", :id => "current_password_field" %>
    <%= text_field_tag :clear_current_password, '', :class => "field w303", 
    :id => "clear_current_password_field", :style => "display:none;" %>
  </div>
</div>
<div class="clearer"></div>

<div class="left">
  <div><b>Neues Passwort*</b></div>
  <div class="pad_5">
    <%= f.password_field :password, :class => "field w303", :id => "password_field" %>
    <%= text_field_tag :clear_password, '', :class => "field w303", 
    :id => "clear_password_field", :style => "display:none;" %>
  </div>
</div>
<div class="left pad_l_10">
  <div><b>Neues Passwort wiederholen*</b></div>

  <div class="clearer"></div>
  <div class="pad_5">
    <%= f.password_field :password_confirmation, :class => "field w303", :id => "password_confirmation_field" %>
    <%= text_field_tag :clear_password_confirmation, '', :class => "field w303", 
    :id => "clear_current_password_confirmation_field", :style => "display:none;" %>
  </div>
  <div class="pad_5"> <%= check_box_tag :view_password, "0", false %>
    <%= label_tag :view_password, "Passwort einblenden" %>
  </div> 
</div>
<div class="clearer"></div>

<div>
  <%= submit_tag "Passwort speichern" , :class => "button_right" %>
</div> 
<div class="button_left"></div> 

<div class="clearer"></div>      
<% end %>