<%
  article ||= article_image_and_attachments
  headline ||= "Downloads:"
%>
<% if article.assets? %>
<div class="clearer"></div>

<p class="line"><%= headline %></p>

<div class="left">
  
  <% if article.primary_attachment.file? && Asset.none_image?(article.primary_attachment.content_type) %>
   <%= link_to(article.primary_attachment_name,
     article.primary_attachment.url, {
       :class => content_type_to_css_class(article.primary_attachment.content_type),
       :popup => true
   }) %>
  <% end %>

  <% if article.secondary_attachment.file? && Asset.none_image?(article.secondary_attachment.content_type) %>
   <%= link_to(article.secondary_attachment_name, 
     article.secondary_attachment.url, {
       :class => content_type_to_css_class(article.secondary_attachment.content_type),
       :popup => true
   }) %>
  <% end %>
</div>

<div class="clearer"></div>

 <p class="line"></p>

<div class="left">
 
  <% if article.image? %>
    <a class="modal_xxx iframe aimage" href="<%= article.image.url %>">
      <%= image_tag(article.image.url(:thumb)) %>
    </a>
  <% end %>


  <% if article.primary_attachment.file? && Asset.image?(article.primary_attachment.content_type) %>
    <a class="iframe aimage" href="<%= article.primary_attachment.url %>">
      <%= image_tag(article.primary_attachment.url(:thumb)) %>
    </a>
  <% end %>

  <% if article.secondary_attachment.file? && Asset.image?(article.secondary_attachment.content_type) %>
    <a class="iframe aimage" href="<%= article.secondary_attachment.url %>">
      <%= image_tag(article.secondary_attachment.url(:thumb)) %>
    </a>
  <% end %>

</div>
<div class="clearer"></div>

<p class="line"></p>
<% end %>