<%
  form_url ||= if current_user.person.is_a?(Advocate)
    update_password_advocate_account_profile_path(:sidebar_select => "change_password")
  else
    update_password_client_account_profile_path(:sidebar_select => "change_password")
  end
%>
<div id="<%= dom_id(@user, :change_password) %>">
  <% remote_form_for :user, @user, :url => form_url, :html => {:method => :put} do |f| %>
    <div class="two_small_top clearer"><h2><b>Mein Passwort ändern</b></h2></div>
    <div class="two_small_content">
      <p class="t_10">Neues Passwort muss mindestens 6 Zeichen haben.<br />
      Ein sicheres Passwort besteht aus einer Kombination von Zahlen, Buchstaben in Groß- und Kleinschreibung sowie Sonderzeichen.<br />
      Bei <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> werden grundsätzlich alle Passwörter verschlüsselt hinterlegt. Auch die Mitarbeiter von <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> können Ihr Passwort somit nicht sehen.</p> 
      <p>Altes Passwort:</p>
      <p><%= f.password_field :current_password, :class => "field w200" %></p>
      <p>Neues Passwort:</p>
      <p><%= f.password_field :password, :class => "field w200" %></p>
      <p>Neues Passwort wiederholen:</p>
      <p><%= f.password_field :password_confirmation, :class => "field w200" %></p>
    </div>
    <div class="two_small_bottom_arrow_hover"><b>
      <%#= link_to "Jetzt Passwort ändern", {:title => ""} %>
      <%= submit_tag "Jetzt Passwort ändern", {:title => ""} %>
    </b></div> 
  <% end %>
</div>