<div class="blue_right">
  <% draw_flash_message do |type, message| %>
    <%= content_tag :div, message, :class => type  %>
  <% end %>
  <div class="main">
    <div class="content">
      <div class="col_1">

        <% form_for :enrollment, :url => remove_service_newsletters_path, :html => {:method => :post} do |f| %>
         

          <h2><% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> Newsletter abbestellen</h2>
          <p>Hier können Sie Ihren <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> Newsletter abbestellen - einfach Ihre E-Mail-Adresse eingeben, die Sie bei der Bestellung verwendet haben.
          </p>
           <div class="clearer"></div>
          <div class="pad_20"></div>
            
             <div class="left">
          <%= f.select :type, collect_for_enrollment_type_select_with_all("Bitte wählen: Newsletter abbestellen für *"), {},
            {:class => "option", :style => "background-color:#fffef7 "} %>
          </div>
            
           
          
          <div class="clearer_10"></div>  
          
          <div class="left">
  <%# E-Mail-Adresse* %>
            <%= f.text_field :email, {:class => "field w303"}%>
          </div>

          <div class="clearer_10"></div>  

          <div>
            <%= submit_tag "Jetzt abbestellen" , :class => "button_right" %>
          </div>
          <div class="button_left"></div>
        <% end %>

      </div>
      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
            <ul>
              <li>Mit * versehene Felder sind Pflichtfelder.</li>
            </ul>
          <h2>Widerrufmöglichkeit:</h2>
          <ul>
            <li>Sie können die Einwilligung zur Nutzung Ihrer Daten für den Newsletterversand jederzeit mit Wirkung für die Zukunft widerrufen, sende Sie uns dazu eine <%= mail_to Notifier.newsletter_email, 'E-Mail', {:class => "white",  :encode => "hex" }%> oder per Abbestell-Link am Ende jedes Newsletters.</li>

          </ul>
          <h2>Datenschutz:</h2>
          <ul>
            
            <li>Die Unterrichtung zum Datenschutz finden Sie auf der Seite: <%= link_to "Datenschutz", privacy_corporate_path, {:title => "Datenschutzerklärung ", :class => "white"} %></li>
            
            
           </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="bottom"></div>
</div>
<%= render :partial => "shared/default_fields_js" %>
