<div class="white_site">
    <div class="top clearer"></div>
    <div class="content">
        <% if kik_realm? %> 
     
        <h2>Herzlich Willkommen im Unternehmensbereich von kann-ich-klagen.de</h2>
        

        <div class="left">
          <div class="two_small_top clearer"><h2><b>Kontakt</b></h2></div>
            <div class="two_small_content">
              <img title="Kontakt" alt="Kontakt" src="images/icons/kontakt.gif" style="float:right"/>
              Gern beantworten wir Ihre Fragen rund um <br />kann-ich-klagen.de
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Jetzt kontaktieren "), new_corporate_contact_path %></div>
        </div>

        <div class="left pad_l_18">
          <div class="two_small_top clearer"><h2><b>Karriere</b></h2></div>
            <div class="two_small_content">
              <img title="Blog" alt="Blog" src="images/icons/karriere.gif" style="float:right"/>
              Hier finden Sie aktuelle Stellenangebote bei <br />kann-ich-klagen.de
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Stellenangeboten "), careers_corporate_path %></div>
        </div>

        <div class="right">
          <div class="two_small_top clearer"><h2><b>Mediawerbung</b></h2></div>
            <div class="two_small_content">
              <img title="Weiterempfehlen" alt="Weiterempfehlen" src="images/icons/mediawerbung.gif" style="float:right"/>
            Werben Sie gezielt auf <br />kann-ich-klagen.de
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zur Mediawerbung"), advertising_corporate_path %></div>
        </div>
    
        <div class="clearer"></div>
        <div class="left">
          <div class="two_small_top clearer"><h2><b>Beirat</b></h2></div>
            <div class="two_small_content">
              <img title="twitter" alt="twitter" src="images/icons/beirat.gif" style="float:right"/>
              Unabhängige Beiräte aus Wirtschaft, Kultur und Medien beraten kann-ich-klagen.de bei Zukunftsfragen.
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Beirat "), board_corporate_path %></div>
        </div>

        <div class="left pad_l_18">
          <div class="two_small_top clearer"><h2><b>Kooperationspartner</b></h2></div>
            <div class="two_small_content">
              <img title="facebook" alt="facebook" src="images/icons/partner.gif" style="float:right"/>
              Gemeinsam erfolgreich. Informationen über Kooperationsmöglichkeiten und bestehende Kooperationen.
            </div>
        <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Kooperationen"), partners_corporate_path %></div>
        </div>
         <div class="right">
          <div class="two_small_top clearer"><h2><b>Impressum</b></h2></div>
            <div class="two_small_content">
              <img title="Weiterempfehlen" alt="Weiterempfehlen" src="images/icons/impressum.gif" style="float:right"/>
              Hier finden Sie die Anbieterkennzeichnung von kann-ich-klagen.de
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Impressum "), imprint_corporate_path %></div>
        </div>
        

        <div class="clearer"></div>

        <div class="left">
          <div class="two_small_top clearer"><h2><b>Datenschutz</b></h2></div>
          <div class="two_small_content">
              <img title="Startseite" alt="Startseite" src="images/icons/datenschutz.gif" style="float:right"/>
              Hier finden Sie die Datenschutz- erklärung von kann-ich-klagen.de und Informationen zur Datenspeicherung und -verarbeitung.
            </div>
        <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Datenschutz"), privacy_corporate_path %></div>
          </div>

        <div class="left pad_l_18">
          <div class="two_small_top clearer"><h2><b>Nutzungsbedingungen</b></h2></div>
          <div class="two_small_content">
              <img title="Lesezeichen hinzufügen" alt="Lesezeichen hinzufügen" src="images/advofinder/icons/agb.gif" style="float:right"/>
            Informieren Sie sich hier über die Nutzungsbedingungen von kann-ich-klagen.de, seinen Teilbereichen und Angeboten.
            </div>
          <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Nutzungsbedingungen "), terms_corporate_path %></div>
        </div>
       

          <div class="clearer"></div>
          
           <% end %>
            <% if af_realm? %>
             <h2>Herzlich Willkommen im Unternehmensbereich von advofinder.de</h2>


              <div class="left">
                <div class="two_small_top clearer"><h2><b>Kontakt</b></h2></div>
                  <div class="two_small_content">
                    <img title="Kontakt" alt="Kontakt" src="images/advofinder/icons/kontakt.gif" style="float:right"/>
                    Gern beantworten wir Ihre Fragen rund um <br />advofinder.de
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Jetzt kontaktieren "), new_corporate_contact_path %></div>
              </div>

              <div class="left pad_l_18">
                <div class="two_small_top clearer"><h2><b>Karriere</b></h2></div>
                  <div class="two_small_content">
                    <img title="Blog" alt="Blog" src="images/advofinder/icons/karriere.gif" style="float:right"/>
                    Hier finden Sie aktuelle Stellenangebote bei <br />advofinder.de
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Stellenangeboten "), careers_corporate_path %></div>
              </div>

              <div class="right">
                <div class="two_small_top clearer"><h2><b>Mediawerbung</b></h2></div>
                  <div class="two_small_content">
                    <img title="Weiterempfehlen" alt="Weiterempfehlen" src="images/advofinder/icons/mediawerbung.gif" style="float:right"/>
                  Werben Sie gezielt auf <br />advofinder.de
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zur Mediawerbung"), advertising_corporate_path %></div>
              </div>

              <div class="clearer"></div>
              <div class="left">
                <div class="two_small_top clearer"><h2><b>Beirat</b></h2></div>
                  <div class="two_small_content">
                    <img title="twitter" alt="twitter" src="images/advofinder/icons/beirat.gif" style="float:right"/>
                    Unabhängige Beiräte aus Wirtschaft, Kultur und Medien beraten advofinder.de bei Zukunftsfragen.
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Beirat "), board_corporate_path %></div>
              </div>

              <div class="left pad_l_18">
                <div class="two_small_top clearer"><h2><b>Kooperationspartner</b></h2></div>
                  <div class="two_small_content">
                    <img title="facebook" alt="facebook" src="images/advofinder/icons/partner.gif" style="float:right"/>
                    Gemeinsam erfolgreich. Informationen über Kooperationsmöglichkeiten und bestehende Kooperationen.
                  </div>
              <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Kooperationen"), partners_corporate_path %></div>
              </div>
               <div class="right">
                <div class="two_small_top clearer"><h2><b>Impressum</b></h2></div>
                  <div class="two_small_content">
                    <img title="Weiterempfehlen" alt="Weiterempfehlen" src="images/advofinder/icons/impressum.gif" style="float:right"/>
                    Hier finden Sie die Anbieterkennzeichnung von advofinder.de
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Impressum "), imprint_corporate_path %></div>
              </div>


              <div class="clearer"></div>

              <div class="left">
                <div class="two_small_top clearer"><h2><b>Datenschutz</b></h2></div>
                <div class="two_small_content">
                    <img title="Startseite" alt="Startseite" src="images/advofinder/icons/datenschutz.gif" style="float:right"/>
                    Hier finden Sie die Datenschutz- erklärung von advofinder.de und Informationen zur Datenspeicherung und -verarbeitung.
                  </div>
              <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zum Datenschutz"), privacy_corporate_path %></div>
                </div>

              <div class="left pad_l_18">
                <div class="two_small_top clearer"><h2><b>Nutzungsbedingungen</b></h2></div>
                <div class="two_small_content">
                    <img title="Lesezeichen hinzufügen" alt="Lesezeichen hinzufügen" src="images/advofinder/icons/agb.gif" style="float:right"/>
                  Informieren Sie sich hier über die Nutzungsbedingungen von advofinder.de, seinen Teilbereichen und Angeboten.
                  </div>
                <div class="two_small_bottom_arrow"><%= link_to content_tag(:b, "Zu den Nutzungsbedingungen "), terms_corporate_path %></div>
              </div>


                <div class="clearer"></div>
            <% end %>
      </div>
  <div class="bottom_footer"></div>
</div>
  
