<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
        <h2>Produktübersicht – bitte wählen Sie ein Kontakt-Paket <span class="t_10"> (Alle Preise zzgl. gesetzlicher MwSt.)</span> </h2>
        
        <div class="produkt_head">
          <em>Keine Einrichtungsgebühren! Kostenloses Startguthaben!</em>
        </div> 
       
        <% form_for :product, :url => advocate_account_products_path do |f| %>
          <%= f.hidden_field :sku, :id => "product-sku" %>
        <table class="product">
            
            <tr> 
              <th><h2><span class="one">Kontakte zu Rechtsuchenden</span> <span><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></span></h2>
                <div class="clearer_5"></div>
                  <p>Freikontakte als Startguthaben (einmaliges Kontingent) </p>
                  <p>Inklusivkontakte  (Kontingent pro Monat) </p>
                  <p>Preis für über Kontingent hinausgehende, weitere Kontakte</p>
              </th>
              <td>
                <p>&#160;</p>
               <p>100</p>
               <p>0</p>
               <p>5,00 &#8364;</p>
              </td>
              <td>
                <p>&#160;</p>  
               <p>100</p>
               <p>20</p>
               <p>5,00 &#8364;</p>
             </td>
              <td>
                <p>&#160;</p>  
               <p>100</p>
               <p>40</p>
               <p>5,00 &#8364;</p>
              </td>
              <td>
                <p>&#160;</p>  
               <p>100</p>
               <p>unbegrenzt</p>
               <p>inklusive</p>
              </td>
            </tr>
            
            <tr> 
              <th><h2><span class="one">Persönliches Anwaltsprofil</span><span><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></span></h2>
                <div class="clearer_5"></div>   
                  <p>Anzeige Ihrer Kontaktdaten, Bürozeiten, Lageplan, Anfahrtsskizze, etc.</p>
                  <p>Umfangreiche Darstellung Ihres Leistungs- und Serviceangebots</p>
                  <p>Eigener Kommunikationsbereich zur Korrespondenz mit Rechtsuchenden und Mandanten</p>
              </th>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              
            </tr>
            <tr> 
              <th><h2><span class="one">Fragen-Radar</span> <span><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></span></h2>
                <div class="clearer_5"></div>   
                  <p>Einfach und schnell neue Mandate finden</p>
                  <p>Regelmäßig Fragen von potenziellen Mandanten bequem per E-Mail</p>
                  <p>Fragen individuell gefiltert nach Ihren Rechtsgebieten und regionalen Wünschen</p>
              </th>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
            </tr>
            <tr> 
              <th><h2><span class="one">Anwaltsmarketing</span> <span><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></span></h2>
                <div class="clearer_5"></div>   
                  <p>Einbindung von Bildern und Videos</p>
                  <p>Veröffentlichung von Kanzleimitteilungen</p>
                  <p>Veröffentlichung Ihrer Artikel zu Rechtsthemen</p>
                  
              </th>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
              <td><img src="/images/icons/haken.png" width="20" height="20" alt="Haken"/></td>
            </tr>
            
             <tr> 
                <th style="background-image:none; border:0">
                </th>
                <td><b><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></b></td>
                <td><b><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></b></td>
                <td><b><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></b></td>
                <td><b><a class="pre_launch_chip_modal" href="#product_1">mehr Infos &#187;</a></b></td>
               
                
              </tr>
            
            
            <tr> 
              <th><h2>Laufzeit: 30 Tage</h2>
                  <p>Monatliche Verlängerung, sofern nicht 3 Tage vor Ablauf der Laufzeit gekündigt wird.</p>
              </th>
              <td rowspan="3">
                <b>keine Fixkosten<br />
              keine Laufzeit</b>
              </td>
              <td><b>34,90 &#8364;/Mon.</b></td>
              <td><b>64,90 &#8364;/Mon.</b></td>
              <td><b>94,90 &#8364;/Mon.</b></td>
            </tr>
            
            <tr> 
              <th style="background-image:none; border:0">
              </th>
              <td class="buy">
                <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'P020')" %>
                <a href="buy">
                  <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                </a>
              </td>
              <td class="buy">
                <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'P040')" %>
                <a href="buy">
                  <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                </a>
              </td>
              <td class="buy">
                <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'P999')" %>
                <a href="buy">
                  <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                </a>
              </td>
             
             
             
            </tr>
            
            <tr> 
              <th><h2>Laufzeit: 365 Tage</h2>
                  <p>Jährliche Verlängerung, sofern nicht 30 Tage vor Ablauf der Laufzeit gekündigt wird.</p>
              </th>
              
              <td><b>24,90 &#8364;/Mon.</b><br /><br /><img src="/images/produkt_10.png" width="108" height="53" alt="Produkt 10"/></td>
              <td><b>44,90 &#8364;/Mon.</b><br /><br /><img src="/images/produkt_20.png" width="108" height="53" alt="Produkt 20"/></td>
              <td><b>64,90 &#8364;/Mon.</b><br /><br /><img src="/images/produkt_30.png" width="108" height="53" alt="Produkt 30"/></td>
            </tr>
            
            <tr> 
              <th style="background-image:none; border:0">
              </th>
               <td class="buy">
                  <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'P001')" %>
                  <a href="buy">
                    <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                  </a>
                </td>
                <td class="buy">
                  <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'S020')" %>
                  <a href="buy">
                    <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                  </a>
                </td>
                <td class="buy">
                  <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'S040')" %>
                  <a href="buy">
                    <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                  </a>
                </td> 
                <td class="buy">
                  <%= submit_tag "Jetzt kaufen", :onclick => "$('#product-sku').attr('value', 'S999')" %>
                  <a href="buy">
                    <%#= image_tag "/images/buy_button.jpg", :alt => "button", :title => "Kontakte kaufen von kann-ich-klagen.de"%>
                  </a>
                </td>
                
            </tr>
          </table>
          <% end %>
          <div class="clearer_10"></div>   
           
          
          <h2>Ergänzende Informationen zu den kann-ich-klagen.de Paketen</h2>
          <p><b>1) Welchen Laufzeiten haben die kann-ich-klagen.de Pakete?</b></p>
          <p>Das kostenlose Flex-Paket hat keine feste Laufzeit. Es ist jederzeit kündbar. Das 20er-Paket, das 40er-Paket und das Flat-Paket haben wahlweise eine Laufzeit von 30 Tagen oder 365 Tagen. Die Laufzeit verlängert sich bei Paketen mit einer Laufzeit von 30 Tages um weitere 30 Tage, bei Paketen mit einer Laufzeit von 365 Tagen um weitere 365 Tage, sofern nicht 3 Tage (bei Paketen mit einer Laufzeit von 30 Tagen) bzw. 30 Tage (bei Paketen mit einer Laufzeit von 365 Tagen) vor Ablauf der Laufzeit gekündigt wird. Es gelten die <%= link_to "Nutzungsbedingungen", terms_corporate_path, {:title => "Nutzungsbedingungen von kann-ich-klagen.de"} %> von kann-ich-klagen.de.</p>
          <p><b>2) Wie lange können Inklusivkontakte bzw. Freikontakte eingelöst werden?</b></p>
          <p>Nicht eingelöste monatliche Inklusivkontakte im Rahmen eines 20er-Pakets oder 40er-Pakets verfallen mit Ablauf des Zeitraums von 30 Tagen für den sie systemseitig nach Buchung bzw. Verlängerung eines jeweiligen Pakets gutgeschrieben wurden. Eine Auszahlung, Gutschrift oder Rückerstattung nicht genutzter Inklusivkontakte ist nicht möglich.
          Freikontakte, sprich Kontakte, die Ihnen im Rahmen des Startguthabens bzw. für die erfolgreiche Weiterempfehlung an einen Kollegen gutgeschrieben werden, können Sie ab Gutschrift ein Jahr lang einlösen, sofern kein anderer Zeitraum explizit genannt wurde.
          Eine Übertragung an Dritte oder Auszahlung des Startguthabens ist nicht möglich.</p>
          <p><b>3) Welche Kosten kommen auf mich zu?</b></p>
          <p>kann-ich-klagen.de erhebt keine Einrichtungsgebühren. Im Rahmen des Flex-Pakets gibt es auch keine laufenden Kosten. Es entstehen nur dann Kosten, wenn ein Kontakt zu einem potentiellen Mandanten tatsächlich erworben wird. Im Rahmen des 20er-Pakets, des 40er-Pakets und des Flat-Pakets fallen die ausgewiesen monatlichen Kosten an sowie Kosten für etwaige Kontakt, die über die inkludierten Inklusivkontakte hinaus erworben werden. Alle angegebenen Preise verstehen sich zzgl. 19% MwSt.</p>
          <p><b>4) Wie erfolgt die Rechnungstellung?</b></p>
          <p>
         Die Rechnungsstellung erfolgt gewöhnlich zum Ende eines Monats. Rechnungen werden signiert als PDF-Datei per E-Mail versandt und sind mit Signatur steuerlich anerkannt. Für zusätzliche Rechnungen in Papierform wird pro Rechnung ein Zuschlag von 5,00 € zzgl. 19 % MwSt. berechnet.
</p>
          <p><b>5) Welche Zahlungsarten gibt es?</b></p>
          <p>
          Zahlungen können per Rechnung oder per Lastschrift erfolgen.</p>
          
           <p><b>6) Wie kann in ein anderes Paket gewechselt werden? </b></p>
            <p>
              Der Wechsel in ein höherwertiges Paket ist jederzeit möglich und wird wirksam mit Beginn der nächsten 30-Tage-Periode. Der Wechsel in ein geringwertigeres Paket ist mit Ende der Mindestlaufzeit möglich. <%= link_to "Hier wechseln &#187;",  package_advocate_account_profile_path, {:title => "Paketwechsel von kann-ich-klagen.de "} %>
             </p>
            <p><b>7)</b> Das Angebot betreffend die auf dieser Seite dargestellten <b>kann-ich-klagen.de Pakete richtet sich ausschließlich an in Deutschland zugelassene Anwälte</b>.
              </p>
            <p><b>8) Sonst noch etwas?</b></p>
            <p>
              Für weitere Details beachten Sie bitte die <%= link_to "Nutzungsbedingungen", terms_corporate_path, {:title => "Nutzungsbedingungen von kann-ich-klagen.de"} %> und <%= link_to "Datenschutzerklärung", privacy_corporate_path, {:title => "Datenschutzerklärung von kann-ich-klagen.de"} %> von kann-ich-klagen.de in ihrer jeweils geltenden Fassung.
             </p>
      </div>
      <div class="bottom_footer"></div>
    </div>
    
    <div style="display:none">
      <div id="product_1">
        <div class="clearer_10"></div>   
        <p>Das Flex-Paket eignet sich für Anwälte, die keine Verpflichtungen eingehen wollen. Es entstehen keine Fixkosten. Vielmehr können Kontakte zu potentiellen Mandanten je nach Bedarf einzeln gekauft werden zu einem Preis von je 5,00 € netto zzgl. 19% MwSt. Dieser großen Flexibilität steht gegenüber, dass der einzelne Kauf von Kontakten in der Summe teurer sein kann als der Kauf eines Pakets mit Inklusivkontakten. Bei 8 und weniger Kontakten pro Monat zu potentiellen Mandanten empfiehlt sich des Flex-Paket. </p>

       <p> Das 20er-Paket und das 40er-Paket eignet sich für Anwälte, die genau wissen, wie viele Kontakte sie pro Monat zu potentiellen Mandanten aufnehmen wollen. Anwälte haben durch den Kauf dieser Kontingente von Kontakten (20 bzw. 40 Inklusivkontakte pro Monat) einen Sparvorteil gegenüber dem Einzelkauf im Rahmen des Flex-Paket.  </p>

       <p> Das Flat-Paket eignet sich für Anwälte, die monatlich zu einer Vielzahl von potentiellen Mandanten Kontakt aufnehmen wollen. Anwälte können unbegrenzt Kontakte zu Rechtsuchenden abrufen, ohne auf die Kosten achten zu müssen; quasi all-inclusive. </p>

      <p>  Hinweis: Solange Sie sich nicht aktiv für ein Paket entscheiden, gilt das kostenlose Flex-Paket für Sie. Das heißt: Nur wenn Sie als Anwalt tatsächlich Kontakt zu einem Rechtsuchenden aufnehmen werden Ihnen 5,00 € netto zzgl. 19% MwSt. für den Kontakt in Rechnung gestellt. </p>
      </div>
     
    </div>

