<!-- siehe ticket 563-->
<% # advocate/account/profiles/_show 
  edit ||= false
  overdrawn_quantity = if (order = @person.last_active_recurring_order)
    @person.overdrawn_contact_transactions.uncleared.within(order.service_period_start_on, Date.today).sum(:amount) 
  else
    0
  end
%>
<div id="<%= dom_id(@person) %>" class="white_site">
  <%= form_flash_messages %>
  <div class="top clearer"></div>
  <div class="content">
     
    <div class="left">

      <%= render :partial => 'tabs' %>
     

      <div class="two_big_content">
        <b class="t_14">Aktuelles Guthaben</b>
        <div class="clearer_5"></div>     
        <div class="left">
          <ul class="profil">
            <li><span class="one">Freikontakte:</span><span class="two">
              <% unless @person.promotion_contact_transactions.active.empty? %>
                <% @person.promotion_contact_transactions.active.each do |transaction| %>
                  <%= "#{transaction.amount} (verfallen am: #{l(transaction.expires_at, :format => "%d.%m.%Y")})" %><br />
                <% end %>
              <% else %>
                Keine Freikontakte gebucht
              <% end %>
            </span></li>
            <li><span class="one">Inklusivkontakte:</span><span class="two">
              <% unless @person.premium_contact_transactions.active.empty? %>
                <% @person.premium_contact_transactions.active.each do |transaction| %>
                  <% if transaction.flat %>
                    <%= "unbegrenzt (verfallen am: #{l(transaction.expires_at, :format => "%d.%m.%Y")})" %><br />
                  <% elsif transaction.flex %>
                    <% if order %>
                      <%= "flexibel" %>
                      <%#= "flexibel (#{t("{{count}} Kontakt", :count => overdrawn_quantity, :scope => :pluralizations)} seit #{l(order.service_period_start_on, :format => "%d.%m.%Y")})" %>
                      <br />
                    <% else %>
                      <%= "flexibel" %><br />
                    <% end %>
                  <% else %>
                    <%= "#{transaction.amount} (verfallen am: #{l(transaction.expires_at, :format => "%d.%m.%Y")})" %><br />
                  <% end %>
                <% end %>
              <% else %>
                Keine Inklusivkontakte gebucht
              <% end %>
            </span></li>
            <li><span class="one">Zusätzlich erworbene Kontakte:</span><span class="two">
              <% unless @person.overdrawn_contact_transactions.active.empty? %>
                <% @person.overdrawn_contact_transactions.active.uncleared.group_by {|t| t.expires_at.to_date}.each do |date, transactions| %>
                  <%#= "#{transactions.sum(&:amount)}" %>
                  <%= "#{t("{{count}} Kontakt", :count => overdrawn_quantity, :scope => :pluralizations)} seit #{l(order.service_period_start_on, :format => "%d.%m.%Y")}" %>
                  <br />
                <% end %>
              <% else %>
                Keine zusätzlichen Kontakte gebucht
              <% end %>
            </span></li>
          </ul>
          <div class="clearer_10"></div>
          
          <p><b>Ergänzende Informationen zu Ihrem kann-ich-klagen.de Guthaben</b></p>
          <p><b>Freikontakte</b> sind Kontakte, die Ihnen beispielsweise im Rahmen des Startguthabens, für die erfolgreiche Weiterempfehlung an einen Kollegen oder als Bonus gutgeschrieben wurden. Sie können Freikontakte ab Gutschrift 365 Tage lang einlösen, sofern kein anderer Zeitraum explizit genannt wurde.<br /></p>
          <p><b>Inklusivkontakte</b> sind Kontakte, die Ihnen innerhalb einer Abrechnungsperiode (30 Tage) als Kontingent im Rahmen eines gebuchten Pakets zur Verfügung stehen. Bei einem 20er- bzw. 40er-Paket stehen Ihnen 20 bzw. 40 Inklusivkontakte zur  Verfügung. Nicht innerhalb einer Abrechnungsperiode eingelöste Inklusivkontakte verfallen mit Ablauf der Abrechnungsperiode.<br />

          <p><b>Zusätzlich erworbene Kontakte</b> sind über das von Ihnen je Abrechnungsperiode gebuchte Kontingent an Inklusivkontakten hinausgehende weitere erhaltene Kontakte, welche Ihnen zu je 5,00 € netto zzgl. 19% MwSt. am Ende einer Abrechnungsperiode in Rechnung gestellt werden.</p>
        </div>
      </div>
      <div class="two_big_bottom"></div>

      <div class="clearer_10"></div>

      <!-- voucher -->
      <div id="redeem-voucher-edit">
        
        <% remote_form_for :voucher, @voucher, 
          :url => redeem_voucher_advocate_account_profile_path(:select => :package_redeem_voucher), 
            :html => {:method => :put} do |v| %>
        
        <div class="two_big_top clearer"><h2><b>Gutschein einlösen</b></h2></div>
        <div class="two_big_content"> 
          <%= error_messages_for :voucher, :header_message => "Gutschein kann nicht eingelöst werden." %>    
          <p><b><%= "Ihr Gutscheincode:" %></b></p>
          <%= v.text_field :code_confirmation, :class => "field w200" %>
          <p>Tragen Sie bitte den Gutscheincode in das oben stehende Feld ein. Klicken Sie dann auf "Einlösen". Anschließend werden die auf dem Gutschein genannten Freikontakte Ihrem Guthaben gutgeschrieben.</p> 
        </div>
        <div class="two_big_bottom_arrow"><b>
          <%#= link_to "Einlösen", {:title => ""} %>
          <%= submit_tag "Einlösen" %>
        </b></div> 
        <div class="clearer_10"></div>  
        <% end %>
      </div>
      
      
      <!-- select package -->
      <%
        active_product ||= current_user.person.last_active_product_subscription 
        next_recurring_order ||= current_user.person.next_recurring_order
      %>
      <div id="select-package-show" style="<%= edit && selected_action =~ /package_select_package/ ? 'display:none;' : '' %>">
        <div class="two_big_top"> <h2><b>Kontakt-Paket</b></h2></div>   
        <div class="two_big_content"> 
          <div class="left">

            <%= render :partial => "contact_package_data", :locals => {:active_product => active_product} %>

          </div>
        </div>
        <div class="two_big_bottom_arrow"><b>
          <% if active_product && !next_recurring_order %>
            <%= link_to_function "Kontakt-Paket wechseln ", 
              "$('#select-package-show').hide();$('#select-package-edit').show();",
                {:title => "Kontakt-Paket von #{Project.name} wechseln"} %>
          <% else %>
            <%= link_to "Kontakt-Paket kaufen", advocate_account_products_path,
              {:title => "Kontakt-Paket von #{Project.name} kaufen"} %>
          <% end %>
        </b></div>
        <div class="clearer_10"></div>  
      </div>
      <%# need this only if we have an active product from where we can upgrade from %>
      <% if active_product && !next_recurring_order %>
        <div id="select-package-edit" style="<%= edit && selected_action =~ /package_select_package/ ? '' : 'display:none;' %>">
          <% remote_form_for :person, @person, :url => advocate_account_profile_path(:select => :package_select_package), 
              :html => {:method => :put} do |f| %>
          <div class="two_big_top"> <h2><b>In welches Kontakt-Paket möchten Sie wechseln?</b></h2></div>   
          <div class="two_big_content">
             <%= error_messages_for :user, :person ,:header_message => "Paketwechsel"%>     
            <div class="left">

              <%= render :partial => "contact_package_data", :locals => {:f => f, :edit => true,
                :active_product => active_product, :next_recurring_order => next_recurring_order} %>

              <div class="clearer_10"></div>
              <p>Der Wechsel in ein höherwertiges Paket ist jederzeit möglich und wird wirksam mit Beginn der nächsten Abrechnungsperiode.</p>
              <p>Der Wechsel in ein geringwertigeres Paket ist mit Ende der Mindestlaufzeit möglich. </p>
              <p>Die Produktübersicht der kann-ich-klagen.de Pakete für Anwälte finden Sie <a href="<%= advocate_account_products_path %>">hier  &#187;</a></p>


            </div>
          </div>
          <div class="two_big_bottom_arrow"><b> 
            <%= submit_tag "Jetzt wechseln" %>
          </b></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render :partial => 'sidebar_grades_datas' %>

  </div>
  <div class="bottom_footer"></div>
</div>
<%= render :partial => 'shared/default_fields_js' %>
