<div class="left">
  <%= f.select :sender_gender, collect_for_gender_select(true, true), {},
    {:class => "option_f_h", :style => "background-color:#fffef7 "} %>
</div>
<div class="left pad_l_16">
  <%= f.select :sender_academic_title_id, collect_for_academic_title_select("Kein Titel", false), {},
    {:class => "option_f_h", :style => "background-color:#fffef7 "} %>
</div>

<div class="clearer_10"></div>  

<div class="left">
  <%= f.text_field :sender_first_name, {:class => "field w303"} %>
</div>
<div class="right">
  <%= f.text_field :sender_last_name, {:class => "field w303"} %>
</div>

<div class="clearer_10"></div>  

<div class="left">
<%# E-Mail-Adresse* %>
  <%= f.text_field :sender_email, {:class => "field w303"}%>
</div>


<div class="clearer_20"></div>  
<div class="left">
<%# Betreff: %>
  <%= f.text_field :subject, {:class => "field w303"}%>
</div>
<div class="clearer"></div>
<div class="pad_10"></div>
<div class="left">
  <%= f.text_area :message, {:class => "text question_field"} %>
</div>


<div class="clearer_10"></div>  

<div class="check">
  <ul>
    <li>
      <span class="check">
        <%= f.check_box :copy_sender, {:checked =>true, :style => "display:none;"} %>
      </span>
      <span class="fliess">
        <%= f.label :copy_sender, "Sie erhalten eine Kopie Ihrer Nachricht an die von Ihnen angegebene E-Mail-Adresse." %>
      </span>
    </li>
  </ul>
</div>

<div>
  <%= submit_tag "absenden" , :class => "button_right" %>
</div>
<div class="button_left"></div>

<div class="clearer_20"></div>  
