
<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">

        <h2>Meine Bewerbung und Antworten auf die Frage</h2> 
        <div class="left">
          <%= link_to "&#171; Zurück zur Übersicht" %>
        </div>
        
         <div class="quest_top clearer"></div>
        <div class="quest_content">
              <img src="/images/person/lay_small.jpg" alt="Lay"/>
              <div class="left">
                       <p><b>Frage 12345678 vom 30.02.2001, 19:20 Uhr</b></p>
                        <p>Gestellt von: USERNAME</p>
                        <p><a>Kontaktdaten ansehen &#187;</a></p> 
              </div>
              <div class="right">
                <div class="quest_buttom_open">Frage: offen</div>
                <div class="t_10">Haben Sie das Mandat erhalten? <a>Bitte hier klicken!</a></div>   
              </div>
              
              <div class="clearer"></div>
              <p>Rechtsgebiet(e): Arbeitsrecht</p>
              <p>Laufzeit: noch XY Tage, XY Stunden, XY Minuten </p>
              <p><b>Betreff: Mein Arbeitsunfall am 11.02.2010 in Berlin,  mit dem Dienstwagen meiner Frau</b></p>
              <p>10 Anwälte haben den Rechtsuchenden bereits kontaktiert </p> 
        </div>
        
        <div class="quest_content_open">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
        </div>
        <div class="quest_bottom"><a href="">Frage minimieren  <%= image_tag 'quest_close.gif' %></a></div> 
        
        
        
        
        
        
        
        
        <div class="quest_advo_top clearer"></div>
        <div class="quest_advo_content"> 
          <div class="left">
              <b>Rechtsuchenden kontaktieren und bewerben:</b>
          </div>
          <div class="clearer"></div>
          <div class="line_answer">   
            
              <p><textarea></textarea></p>
                <div>
                   <%= submit_tag "Bewerbung absenden", :class => "button_right" %>
                 </div>
                 <div class="button_left"></div>
                 <div class="clearer"></div> 
          </div>
        </div>
         
        <div class="quest_advo_bottom"></div>
        
        
        <p style="color:red">Der obere Teil wird angezeigt wenn sich der Anwalt auf die Frage bewirbt</p>         
        
        
          <div class="quest_advo_top clearer"></div>
            <div class="quest_advo_content"> 
            <div class="left">
                <b>Kontaktiert</b> am 30.02.2001 um 19:20 Uhr 
            </div>
            <div class="right">
                <div class="quest_buttom_open">Status: angenommen</div>    
                 <div ><a class="quest_buttom_notice">Bewerbung schliessen</a></div>     
            </div>

            <div class="clearer"></div>

            <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

             <div class="line_answer">   
                <p><b><a>Bine85</a> antwortet </b>am 03.03.2010 um 12:20 Uhr</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p><b>Ihre Antwort:</b></p>
                <p><textarea></textarea></p>
                  <div>
                     <%= submit_tag "Antwort absenden", :class => "button_right" %>
                   </div>
                   <div class="button_left"></div>
                   <div class="clearer"></div> 
            </div>
           
          </div> 
          <div class="quest_advo_bottom"></div> 
          
          
          
          <div class="quest_advo_top clearer"></div>
            <div class="quest_advo_content"> 
            <div class="left">
                <b>Beworben</b> am 30.02.2001 um 19:20 Uhr 
            </div>
            <div class="right">
                <div class="quest_buttom_open">Status: abgelehnt</div>    
            </div>

            <div class="clearer"></div>

            <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
            <p style="color:red">Erklärungen siehe Rechtsuchender!!</p>

             
           
          </div> 
          <div class="quest_advo_bottom"></div>
        
        <div class="quest_advo_top clearer"></div>
          <div class="quest_advo_content"> 
          <div class="left">
              <b>Beworben</b> am 30.02.2001 um 19:20 Uhr 
          </div>
          <div class="right">
              <div class="quest_buttom_open">Status: angenommen</div>    
          </div>
          
          <div class="clearer"></div>
            
          <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
           <div class="line_answer">   
              <p><b><a>Bine85</a> antwortet </b>am 03.03.2010 um 12:20 Uhr</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
              <p><b>Ihre Antwort:</b></p>
              <p><textarea></textarea></p>
                <div>
                   <%= submit_tag "Antwort absenden", :class => "button_right" %>
                 </div>
                 <div class="button_left"></div>
                 <div class="clearer"></div> 
          </div>
          
          <p class="line"><b>Meine Antwort</b> vom 02.03.2010 um 24:20 Uhr</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
          
          <div class="line_answer">
            <p><b><a>Bine85</a> antwortet </b>am 01.03.2010 um 16:20 Uhr</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          
           
        </div> 
        <div class="quest_bottom_advo"> <a href="">Gesprächsverlauf minimieren  <%= image_tag 'quest_close.gif' %></a>  </div>   
         <div class="left">
          <%= link_to "&#171; Zurück zur Übersicht" %>
        </div>
       



      </div>

      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
         
        </div>

      </div>
    </div>

  </div>
  <div class="bottom"></div>
</div>