<div class="blue_right">

  <%= form_flash_messages %>

  <div class="main">


    <div class="content"> 
      <div class="col_1"> 
        <%= render :partial => "forgot_password" %>
        <div class="clearer_20"></div>




      </div>


      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
          <ul>
            <li>Mit * versehene Felder sind Pflichtfelder.</li>
            
            <li>Wenn Sie weder Ihren Benutzernamen noch Ihre Kundennummer oder Ihre hinterlegte E-Mail-Adresse wissen, kontaktieren Sie uns bitte über das Kontaktformular auf der Seite: <%= link_to "Kontakt", new_corporate_contact_path, {:title => "Ansprechpartner und Kontaktdaten von kann-ich-klagen.de ", :class => "white"} %>     
             </li>
             <li>Eine ausführliche Unterrichtung zu Beginn des Nutzungsvorgangs über Art, Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten sowie über Ihr Widerspruchsrecht erhalten Sie, als Fortführung zu diesem Hinweis, als Nutzer auf der Seite: <%= link_to "Datenschutz", privacy_corporate_path, {:title => "Datenschutzerklärung von kann-ich-klagen.de" ,:class => "white"} %></li>
          </ul>
          <div class="clearer"></div>
        </div>


      </div>
    </div>

  </div>
  <div class="bottom"></div>


</div>
<script type="text/javascript">
//<![CDATA[

VisiblePasswordField.initialize('password_field', 'clear_password_field', 'view_password');

//]]>
</script>
