<p>
  <%= link_to_function(h(entry.title)) do |page|
    page[dom_id(entry)].show
  end
%>
</p>
<div class="lexica" style="<%= details ? '' : 'display:none;' %>" id="<%= dom_id(entry) %>">
  <div class="markdown"><%= markdown(entry.body) %></div>
  <div class="pad_20"></div>
    <div class="left">
    <% unless details %>
      <%= link_to_function("&#171; Schließen") do |page|
        page[dom_id(entry)].hide
      end %>
    <% end %>
  </div>
  
  <div class="right">
    <%= link_to "Druckansicht", print_client_dictionary_path(entry), :class => "drucken" %>
    <%= render :partial => '/shared/add_this' %>    
  </div>
  
  

  <div class="clearer"></div>
  <div class="pad_5"></div>

</div>
