<!-- front header --> 

<div class="left pad_5">
  <%= render :partial => '/shared/add_this' %>
  <div class="rubrik">
    <% if false %>
    <!-- <%= bookmark_link_to "Seite merken", {:title => "kann-ich-klagen.de bookmarken, speichern, vorschlagen"}, {:id => 'bookmark'}%> -->
    <% end %>
    
    <%= link_to "RSS", feed_service_blogs_url(:format => :rss), {:title => "RSS-Feed von kann-ich-klagen.de abonnieren", :target => "_blank",} %>
    <%= link_to "Blog", service_blogs_path, {:title => "Blog von kann-ich-klagen.de lesen"} %>
    <%= link_to "Benutzerhinweise", how_path, {:title => "Hinweise zur Benutzung der Website "} %>
    <%= link_to "Seitenübersicht", sitemap_corporate_path, {:title => "Struktur der Seite - Sitemap"} %>
    <%= link_to "Hilfe &#38; FAQ", faqs_path, {:title => "Hilfe und häufig gestellte Fragen zu kann-ich-klagen.de "} %>
    <%= link_to "Kontakt", new_corporate_contact_path, {:title => "Ansprechpartner und Kontaktdaten von kann-ich-klagen.de "} %>
  </div>
</div>
<% if expect_pre_launch? %>
  <div>
    <a href="#pre_launch_client" class="pre_launch_client_modal">
      <%= image_tag "postit.png", :alt => "Kostenlos", :style => "position:absolute; margin:-50px 0 0 0; " %>
    </a>
  </div>
  <div class="right">
    <div class="login_pre"> <!-- class="login" -->
      <%= link_to_expect_pre_launch content_tag(:b, "Login"), new_session_path, {:title => "Voranmeldephase für Anwälte"}%>
    </div>
  </div>
  <div class="clearer"></div>

  <div class="logo">
    <a >
      <%= image_tag "kann-ich-klagen.de.jpg", :alt => "kann-ich-klagen.de Startseite", :title => "kann-ich-klagen.de Startseite" %>
    </a>
  </div>

  <div class="left">
  <%= image_tag "icons/kostenlos.gif", :alt => "Kostenlos", :style => "position:absolute; margin:70px 0 0 0"   %>
  </div>
  <div class="charta_pos">
    <div class="charta_left"></div>
    <div class="charta_right">
      <%= link_to "kann-ich-klagen.de Kodex", kodex_client_path, {:title => "kann-ich-klagen.de Kodex"} %>
    </div>
  </div>
<% else%>
<div class="right">
  <% if logged_in? %>
  <div class="logout"> <!-- class="login" -->
    <%= link_to content_tag(:b, "Logout"), session_url(:protocol => ssl_supported? ? "https://" : "http://"), 
      {:method => :delete, :title => "Logout"}%>
  </div>
  <% else %>
  <div class="login"> <!-- class="login" -->
    <%= link_to content_tag(:b, "Login"), new_session_url, {:title => "Login"}%>
  </div>
  <% end %>
</div>
<div class="clearer"></div>

<div class="logo">
  <a href="/">
    <%= image_tag "kann-ich-klagen.de.jpg", :alt => "kann-ich-klagen.de Startseite", :title => "kann-ich-klagen.de Startseite" %>
  </a>
</div>

<div class="left">
<%= image_tag "icons/kostenlos.gif", :alt => "Kostenlos", :style => "position:absolute; margin:70px 0 0 0px"   %>
</div>
<div class="charta_pos">
  <div class="charta_left"></div>
  <div class="charta_right">
    <%= link_to "kann-ich-klagen.de Kodex", kodex_client_path, {:title => "kann-ich-klagen.de Kodex"} %>
  </div>
</div>

<%= render :partial => "shared/header_welcome" %>

<% end %>

<div class="clearer"></div>   

<div id="menue" class="<%= main_menu_class_name %>"> <!--hier die classen tauschen lassen start/ what/ new_question /open_question / my_site-->
  <ul id="nav">

    <li id="mn_start">
      <h3><%= link_to_expect_pre_launch t('views.navigation.home'), homepage_path, {:title => t('views.title.home.seo_advocat')}%></h3>
    </li>

    <li id="mn_what">
      <h3><%= link_to t('views.title.home.seo_what_is_kik'), what_path, {:title => t('views.navigation.what_is_kik')}%></h3>
    </li>

    <li id="mn_new_question">
      <h3><%= link_to_expect_pre_launch "Frage stellen", new_question_path, {:title => "Stellen Sie hier kostenlos Ihre Frage"} %></h3>
    </li>

    <li id="mn_open_question">
      <h3><%= link_to_expect_pre_launch "Offene Fragen", open_questions_path, {:title => "Übersicht der offenen Fragen im Mandanten-Fragen-System ansehen"} %></h3>
    </li>

    <li id="mn_my_site">
      <h3>
        <% if logged_in? && current_user.person.is_a?(Client) %>
          <%= link_to_expect_pre_launch "Mein Bereich", client_account_path, {:title => "Mein Bereich"} %>
        <% elsif logged_in? && current_user.person.is_a?(Advocate) %>
          <%= link_to_expect_pre_launch "Mein Bereich", advocate_account_path, {:title => "Mein Bereich"} %>
        <% else %>
          <%= link_to_expect_pre_launch "Mein Bereich", account_path, {:title => "Mein Bereich"} %>
        <% end %>
      </h3>
    </li>

    <li id="mn_advocate">
      <h3><%= link_to "Für Anwälte", advocate_path, {:title => "kann-ich-klagen.de Startseite für Anwälte"}%></h3>
    </li>

  </ul>
</div> 

<%= render :partial => sub_menu_partial_name unless sub_menu_partial_name.blank? %>
