<div class="blue_right">  
  <div class="main">
    <div class="content">
      <div class="col_1">
        <h2>Meine offenen Fragen  &amp; erhaltene Bewerbungen!</h2>
        <div class="left">
          <%= link_to "&#171; Zurück zur Übersicht" %>
        </div>
        <div class="quest_top clearer"></div>
        <div class="quest_content">
          <div class="left">
            <p><b>Frage 12345678 vom 30.02.2001, 19:20 Uhr</b></p>
            <p>Gestellt von: USERNAME</p>
            <p>Rechtsgebiet(e): Arbeitsrecht, Strafrecht</p>
            <p>Laufzeit: noch XY Tage, XY Stunden, XY Minuten </p>
           </div>
          <div class="right">
            <div class="quest_buttom_open">Frage: offen</div>
            <div ><a class="quest_buttom_notice">Frage schließen</a></div>
          </div> 
          <div class="clearer"></div>    
          <p><b>Betreff: Mein Arbeitsunfall am 11.02.2010 in Berlin,  mit dem Dienstwagen meiner Frau</b></p>     
        </div>
        <div class="quest_content_open"> 
          <p><b>Habe noch nichts unternommen in diesem Fall.</b></p>  
       <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  
          </p>
          <p class="line">Bilder zum Fall:</p>
          <a href=""><img src="/images/logos/chip_logo.jpg" width="78" height="25" alt="Chip Logo"></a>
          <a href=""><img src="/images/logos/chip_logo.jpg" width="78" height="25" alt="Chip Logo"></a>
          <a href=""><img src="/images/logos/chip_logo.jpg" width="78" height="25" alt="Chip Logo"></a>
          
          <div class="clearer_10"></div> 
          <p class="line">Downloads zum Fall:</p>      
          <p><a href="">file.pdf</a></p>
          <p><a href="">file.pdf</a></p>
          <p><a href="">file.pdf</a></p>
          
          <div class="clearer"></div>
          
           
           
        <!-- <div class="left">
            <a class="drucken" href="">Druckansicht</a>
           </div>--> 
        </div>
        <div class="quest_bottom"> <a href="">Frage minimieren  <%= image_tag 'quest_close.gif' %></a>  </div>  
        
        
        
        
         <div class="quest_advo_top clearer"></div>
          <div class="quest_advo_content"> 
         
             <img src="/images/person/lay_small.jpg" alt="Lay"/>
              <div class="left">         
              <b>Bewerbung</b> von Rechtsanwalt
              <p><%= link_to "Frau Dr. Maria Indastein", "#" %></p>
              <p>am 30.02.2001 um 19:20 Uhr </p>
          </div>
          <div class="right">
            <div class="quest_buttom_open">Status: offen</div>
             
          </div>
          <div class="clearer"></div>  
          <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p style="color:red">Erstmaliges ansehen der Bewerbung!!</p> 
          <div class="line_answer">   
              <p><b>Ihre Antwort auf die Bewerbung:</b></p>
              <p><textarea></textarea></p>
              <a href><b>Bewerbung ablehnen</b></a>
                <div>
                   <%= submit_tag "Antwort absenden", :class => "button_right" %>
                 </div>
                 <div class="button_left"></div>
                 <div class="clearer"></div> 
          </div>
          
          
           
        </div> 
        <div class="quest_advo_bottom"></div>
        
         <div class="quest_advo_top clearer"></div>
          <div class="quest_advo_content"> 
         
             <img src="/images/person/lay_small.jpg" alt="Lay"/>
              <div class="left">         
              <b>Bewerbung</b> von Rechtsanwalt
              <p><%= link_to "Frau Dr. Maria Indastein", '#' %></p>
              <p>am 30.02.2001 um 19:20 Uhr </p>
          </div>
          <div class="right">
            <div class="quest_buttom_open">Status: abgelehnt</div>
             
          </div>
          <div class="clearer"></div>  
          <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p style="color:red">Bewerbung wurde abgelehnt!!</p>           
        </div> 
        <div class="quest_advo_bottom"></div>
        
        <div class="quest_advo_top clearer"></div>
          <div class="quest_advo_content"> 
             <img src="/images/person/lay_small.jpg" alt="Lay"/>
              <div class="left">       
              <b>Bewerbung</b> von Rechtsanwalt
              <p><%= link_to "Frau Dr. Maria Indastein", '#' %></p>
              <p>am 30.02.2001 um 19:20 Uhr </p>
          </div>
          <div class="right">
            <div class="quest_buttom_open">Status: angenommen</div>
             
          </div>
          <div class="clearer"></div>  
          <p>Dies ist ein interessanter fall haha Dies ist ein interessanter fall hahaDies ist ein interessanter fall hahaDies ist ein interessanter fall haha Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         
          <div class="line_answer">   
                   <p><b><%= link_to "Rechtsanwalt Frau Dr. Maria Indastein", '#' %></b> </p>
                    <p>antwortet am 30.02.2001 um 19:20 Uhr </p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  <p><b>Ihre Antwort:</b></p>
                  <p><textarea></textarea></p>
                    <div>
                       <%= submit_tag "Antwort absenden", :class => "button_right" %>
                     </div>
                     <div class="button_left"></div>
                     <div class="clearer"></div> 
              </div>


               <p style="color:red">Korrespondenz läuft, wenn minimiert wird nur bis zum Antwort absenden minimieren, letzte Antwort und inputfeld bleiben stehen. </p>  


              <p class="line"><b>Meine Antwort</b> vom 02.03.2010 um 24:20 Uhr</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


              <div class="line_answer">
                <p><b><%= link_to "Rechtsanwalt Frau Dr. Maria Indastein", '#' %></b> </p>
                <p>antwortet am 30.02.2001 um 19:20 Uhr </p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
         </div>
          
         <div class="quest_bottom_advo"> <a href="">Gesprächsverlauf minimieren  <%= image_tag 'quest_close.gif' %></a>  </div>  
                  <div class="left">
           <%= link_to "&#171; Zurück zur Übersicht" %>
         </div>
      </div>
      <div class="col_2">
         <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
          <ul>
            <li></li>
          </ul>
          <div class="clearer"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="bottom"></div>
</div>