<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>

    <title>kann-ich-klagen.de</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="" />
    <link rel="SHORTCUT ICON" href="/favicon.ico"/>
    <%= stylesheet_link_tag ('basics' , 'content' ,'c_advo' ,'scaffold' , 'jquery.fancybox', 'addthis' , 'modal', 'facebox' ,:media => :screen) %>
    <%= stylesheet_link_tag ('basics' , 'content' ,'c_advo' ,'scaffold' , 'jquery.fancybox', 'addthis' , 'modal' ,:media => :print) %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.fancybox-1.2.1_mo" %>
    <%= javascript_include_tag "facebox" %>
    
    <%= auto_discovery_link_tag(:rss, feed_service_blogs_url(:format => :rss), 
      {:title => "#{af_realm? ? 'advofinder.de' : 'kann-ich-klagen.de'} News Feed"}) %>
    <%= feedback_javascript_tag %>
	  <%= ga_async_javascript_tag("UA-10351133-1") %>
  </head>
  <body>
   
    <div class="opener_top">
      <%= image_tag "banner_start_uhr.jpg", :title => "Banner", :alt => "Banner" %>
    </div> 
    
  <!-- für subdomain
    <div class="opener_top_partner">
      <%= image_tag "logos/header_garten.jpg", :title => "Banner", :alt => "Banner" %>
    </div> 
       -->

    <div class="mainFrame">
      <%= render :partial => 'layouts/front/header' %>

      <%= yield %>

      <%= render :partial => 'layouts/front/footer' %>
    </div>
    <div style="display:none" id="feedback"></div>
    <%= render :partial  => 'pages/pre_launch_splash' if Project.pre_launch? %>
    <%= render :partial  => 'pages/pre_launch_client' if Project.pre_launch? %>
    <%= render :partial  => 'pages/pre_launch_chip' if Project.pre_launch? %>
  <!--  <a style="display:none;" class="pre_launch_chip_modal" href="#pre_launch_chip">Chip Modal not visible</a>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.pre_launch_chip_modal").fancybox().trigger('click');
        });
    </script>  --> 
    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kannichklagen"></script>  
  </body>
</html>