<div class="modal" id="<%= dom_class(Voucher, :show_create_vouchers) %>">
  <%= error_messages_for :promotion_voucher_booking, :header_message => "Fehler", :message => "" %>
  <% remote_form_for :promotion_voucher_booking, :url => create_vouchers_admin_vouchers_path do |f| %>
    <fieldset>
      <legend>Freikontakt-Gutscheine anlegen</legend>
      <%= f.label :amount, PromotionVoucherBooking.human_attribute_name(:amount) %>
      <%= f.text_field :amount, :size => 3, :maxlength => 3 %>
      <br />
      <%= f.label :number, PromotionVoucherBooking.human_attribute_name(:number) %>
      <%= f.text_field :number, :size => 4, :maxlength => 4 %>
      <br />
      <%= f.label :expires_at, "Gutscheine gültig bis" %>
      <%= f.date_select :expires_at %>
      <br />
      <%= f.check_box :multiple_redeemable, :class => "checkbox" %>
      <%= f.label :multiple_redeemable, PromotionVoucherBooking.human_attribute_name(:multiple_redeemable), :class => "checkbox" %>
      <br />
    </fieldset>
    <p class="buttonset">
      <%= submit_tag as_(:create) %>
      <span>&nbsp;<%= "oder" %>&nbsp;<%= link_to_function(as_(:cancel), "Modalbox.hide()") %></span>
    </p>
  <% end %>
</div>